:root {
  --white: rgba(255, 255, 255, 1);
  --gray-900: rgba(16, 24, 40, 1);
  --gray-500: rgba(102, 112, 133, 1);
  --gray-700: rgba(52, 64, 84, 1);
  --gray-300: rgba(208, 213, 221, 1);
  --primary-600: rgba(127, 86, 217, 1);
  --display-md-semibold-font-family: "Inter", Helvetica;
  --display-md-semibold-font-weight: 600;
  --display-md-semibold-font-size: 36px;
  --display-md-semibold-letter-spacing: -0.72px;
  --display-md-semibold-line-height: 44px;
  --display-md-semibold-font-style: normal;
  --text-xl-normal-font-family: "Inter", Helvetica;
  --text-xl-normal-font-weight: 400;
  --text-xl-normal-font-size: 20px;
  --text-xl-normal-letter-spacing: 0px;
  --text-xl-normal-line-height: 30px;
  --text-xl-normal-font-style: normal;
  --text-sm-medium-font-family: "Inter", Helvetica;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-medium-font-style: normal;
  --text-md-normal-font-family: "Inter", Helvetica;
  --text-md-normal-font-weight: 400;
  --text-md-normal-font-size: 16px;
  --text-md-normal-letter-spacing: 0px;
  --text-md-normal-line-height: 24px;
  --text-md-normal-font-style: normal;
  --text-md-medium-font-family: "Inter", Helvetica;
  --text-md-medium-font-weight: 500;
  --text-md-medium-font-size: 16px;
  --text-md-medium-letter-spacing: 0px;
  --text-md-medium-line-height: 24px;
  --text-md-medium-font-style: normal;
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
